body {
  background-color: bisque;
}

/* Syles for Header */

header {
  background-color: rgb(130, 91, 91);
  color: wheat;
}
header h1 {
  text-align: center;
  font-size: 34px;
}
header a {
  color: beige;
  text-decoration: none;
}

/* Styles Recipes */
