body {
  background-color: bisque;
}

/* Styles for Header */

header {
  background-color: rgb(130, 91, 91);
  color: wheat;
}
header h1 {
  text-align: center;
  font-size: 54px;
}
header a {
  color: beige;
  text-decoration: none;
  font-size: 24px;
}

/* Styles Recipes */
main h1 {
  font-size: 34px;
  font-style: bold;
  text-align: center;
  color: brown;
}
